.credential {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    overflow: hidden;
}

.credential__signInContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    width: 400px;
    height: 600px;

    border: 1px solid var(--colorGray6);
    border-radius: var(--borderRadius5);
}

.credential__signInTitleContainer,
.credential__signInSubmitContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: calc(100% / 4);
}

.credential__signInTitleWelcome {
    color: var(--colorGray5);

    padding: 0;
    margin: 0;

    font-size: 18px;
    font-weight: 500;
}

.credential__signInTitleMessage {
    color: var(--colorBlack);

    padding: 0;
    margin: 0;

    font-size: 42px;
    font-weight: 800;
}

.credential__signInInputContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    width: 100%;
    height: calc(100% / 4);
}

.credential__signInInputBox {
    background: var(--colorGray8);
    color: var(--colorBlack);

    width: calc(80% - 10px);
    height: 36px;

    padding: 0 5px;
    margin: 0;

    border: none;
    outline: none;

    border-radius: var(--borderRadius2);

    font-size: 18px;
    font-weight: 500;
}

.credential__submitBtn {
    background: transparent;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 80%;
    height: 40px;

    border: none;
    outline: none;

    padding: 0;
    margin: 0;

    border-radius: calc(40px / 2);
    box-shadow: var(--shadow2);

    cursor: pointer;
    overflow: hidden;
    position: relative;

    transition: all 0.25s ease-in-out;
}

.credential__submitBtnBackground {
    width: 110%;
    height: 110%;

    position: absolute;
    z-index: 0;
}

.borderRadius1 {
    border-radius: calc(40px / 2);
}

.borderRadius2 {
    border-radius: var(--borderRadius3);
}

.credential__submitBtnTitle {
    color: var(--colorWhite);

    display: flex;
    align-items: center;
    justify-content: center;

    width: max-content;
    height: max-content;

    padding: 0;
    margin: 0;

    font-size: 18px;
    font-weight: 500;

    z-index: 1;
}

.credential__loadingAnimationContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: max-content;
    height: max-content;

    position: absolute;
    right: 8px;

    transition: opacity 0.25s ease-in-out;
    z-index: 1;
}

.showLoading {
    opacity: 1;
}

.hideLoading {
    opacity: 0;
}

.credential__signInActionContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    width: calc(85% - 20px);
    height: calc(100% / 4);

    padding: 0 10px;
}

.credential__signInInputTrouble {
    background: transparent;
    color: var(--colorGray4);

    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: flex-end;

    width: max-content;
    height: max-content;

    padding: 0;
    margin: 0;

    border: none;
    outline: none;

    font-size: 14px;
    font-weight: 500;

    cursor: pointer;
    transition: color 0.25s ease-in-out;
}

.credential__signInInputTrouble:hover {
    color: var(--colorBlack);
    text-decoration: underline;
}

.credential__signUpContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    width: 500px;
    height: 700px;

    border: 1px solid var(--colorGray6);
    border-radius: var(--borderRadius5);
}

.credential__signUpTitleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: 15%;
}

.credential__signUpMessage,
.credential__signUpTitle {
    width: 85%;
    height: max-content;

    padding: 0;
    margin: 0;

    text-align: left;
}

.credential__signUpMessage {
    color: var(--colorBlack);

    font-size: 36px;
    font-weight: 800;
}

.credential__signUpTitle {
    color: var(--colorGray3);

    font-size: 18px;
    font-weight: 600;
}

/* Shared styles */
.credential__signUpForm1,
.credential__signUpSubmitContainer,
.credential__signUpForm2 {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.credential__signUpForm1,
.credential__signUpForm2 {
    width: calc(100% - 20px);

    padding: 0 10px;
}

.credential__signUpForm1 {
    flex-direction: row;

    height: 25%;
}

.credential__signUpSubmitContainer {
    justify-content: space-evenly;
    flex-direction: row;

    height: 20%;
}

.credential__signUpForm2 {
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    height: 40%;
}


.credential__signUpImageContainer {
    background: var(--colorGray7);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30%;
    height: max-content;

    padding: 0;
    margin: 0;

    border-radius: 50%;

    overflow: hidden;
}

.credential__signUpImageContainer > img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
}

.credential__signUpNameInputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    width: calc(70% - 30px);
    height: 100%;

    padding: 0 15px;
    margin: 0;
}

.credential__signUpNameInput {
    width: calc(100% - 10px);
    height: 30px;

    padding: 0 5px;
    margin: 0;

    border: 1px solid var(--colorGray6);
    outline: none;

    border-radius: var(--borderRadius3);

    font-size: 16px;
    font-weight: 400;
}

.credential__signUpInfoInput {
    width: calc(100% - 30px);
    height: 30px;

    padding: 0 15px;
    margin: 0;

    border: 1px solid var(--colorGray6);
    outline: none;

    border-radius: var(--borderRadius3);

    font-size: 16px;
    font-weight: 400;
}

.credential__signUpPasswordInfo {
    color: var(--colorBlack);

    width: 90%;
    height: max-content;

    margin: 10px 0 0 0;
    padding: 0;

    font-size: 16px;
    font-weight: 400;
}

.credential__signUpPasswordInfoPoints {
    color: var(--colorBlack);

    width: 90%;
    height: max-content;

    margin: 0;
}

.credential__signUpPasswordInfoPoints > li {
    padding: 0;
    margin: 10px 0 0 0;

    font-size: 16px;
    font-weight: 400;
}

.credential__signUpSubmitActionBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40%;
    height: 40px;

    padding: 0;
    margin: 0;

    border: none;
    outline: none;

    border-radius: var(--borderRadius3);

    font-size: 16px;
    font-weight: 500;

    cursor: pointer;
    position: relative;
}

.cancelBtn {
    background: var(--colorGray7);
    color: var(--colorBlack);
}

.submitBtn {
    background: var(--colorBlack);
    color: var(--colorWhite);
}