.profileSearchCard {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

    width: 100%;
    height: 100px;

    position: relative;
}

.profileSearchCard__profilePictureContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;

    border: 1px solid var(--colorGray7);
    border-radius: 50%;
    box-shadow: var(--shadow3);

    overflow: hidden;
}

.profileSearchCard__profilePictureContainer > img {
    width: 100%;
    height: auto;

    object-fit: cover;
}

.profileSearchCard__infoContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    width: calc(100% - 80px);
    height: 95%;
}

.profileSearchCard__info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;

    width: max-content;
    height: 85%;
}

.profileSearchCard__info > p {
    width: max-content;
    height: max-content;

    padding: 0 10px;
    margin: 0;

    font-size: 16px;
}

.profileSearchCard__infoProfileName {
    color: var(--colorBlack);

    font-weight: 600;
    cursor: default;
}

.profileSearchCard__infoProfileName:hover {
    text-decoration: underline;
}

.profileSearchCard__infoUsername {
    color: var(--colorGray4);

    font-weight: 400;
}

.profileSearchCard__infoFollowCount {
    color: var(--colorBlack);

    font-weight: 400;
}

.profileSearchCard__followBtnContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 115px;
    height: 100%;
}

.profileSearchCard__followBtn {
    background-color: transparent;
    color: var(--colorBlack);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 95%;
    height: 35px;

    padding: 0;
    margin: 0;

    border: none;
    border-radius: var(--borderRadius5);
    box-shadow: var(--shadow5);

    font-size: 16px;
    font-weight: 600;

    cursor: pointer;
}

.profileSearchCard__followBtn:hover {
    background-color: var(--colorBlack);
    color: var(--colorWhite);

    box-shadow: none;
}