.videoContainer {
    background: var(--colorBlack);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 500px;
    min-height: 300px;
    max-height: 750px;

    position: relative;
    overflow: hidden;
}

