.profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    width: 100%;
    height: max-content;
}

.profile__profileInfoContainer {
    width: 100%;
    height: max-content;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.profile__profileInfoContainer__titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    width: calc(100% - 40px);
    height: max-content;

    padding: 15px 20px;
    margin: 0;
}

.profile__profileInfoContainer__nameContainer {
    width: 80%;
    height: max-content;
}

.profile__profileInfoContainer__nameContainer > p {
    padding: 0;
    margin: 0;
}

.profile__profileInfoContainer__name {
    color: var(--colorBlack);

    font-size: 32px;
    font-weight: 500;
    letter-spacing: 1px;
}

.profile__profileInfoContainer__userName {
    color: var(--colorGray4);

    font-size: 18px;
    font-weight: 600;
}

.profile__profileInfoContainer__profileImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 90px;
    height: 90px;

    border: 1px solid var(--colorGray7);
    border-radius: 50%;

    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.profile__profileInfoContainer__profileImageContainer > img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
}

.profile__profileInfoContainer__profileBio {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;

    width: calc(100% - 40px);
    height: max-content;

    padding: 15px 20px;
    margin: 0;

    overflow: hidden;
}

.profile__profileInfoContainer__profileBioContent {
    color: var(--colorBlack);

    width: 100%;
    height: 100%;

    font-size: 15px;
    font-weight: 600;
}

.profile__profileInfoContainer__LinksAndFollowersContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 15px;

    width: calc(100% - 40px);
    height: max-content;

    padding: 10px 20px;
    margin: 0;
}

.profile__profileInfoContainer__LinksAndFollowerCount {
    background: transparent;
    color: var(--colorGray4);

    border: none;
    outline: none;

    padding: 0;
    margin: 0;

    font-size: 16px;
    font-weight: 500;
    text-decoration: none;

    cursor: pointer;
}

.profile__profileInfoContainer__LinksAndFollowerCount:hover {
    text-decoration: underline;
}

.profile__profileInfoContainer__EditProfileButton {
    display: flex;
    align-items: center;
    flex-direction: row;

    width: calc(100% - 40px);
    height: max-content;

    padding: 15px 20px;
    margin: 0;
}

.profile__profileInfoContainer__EditProfileButton > button {
    color: var(--colorGray2);
    background-color: var(--colorWhite);

    height: 35px;

    padding: 0;
    margin: 0;

    border: 1px solid var(--colorGray6);
    border-radius: var(--borderRadius5);
    outline: none;

    font-size: 16px;
    font-weight: 500;

    cursor: pointer;
}

.myProfile {
    justify-content: center;
}

.myProfile > button {
    width: 100%;
}

.otherProfile {
    justify-content: space-between;
}

.otherProfile > button {
    width: calc(95% / 2);
}

.profile__profileInfoContainer__ContentSwitchTab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    width: 100%;
    height: max-content;

    padding: 0;
    margin: 0;
}

.profile__profileInfoContainer__switchTabBtn {
    background-color: var(--colorWhite);

    width: calc(100% / 3);
    height: 35px;

    padding: 0;
    margin: 0;

    border: none;
    outline: none;

    font-size: 16px;
    font-weight: 500;

    cursor: pointer;
}

.activeTab {
    color: var(--colorBlack);
    border-bottom: 1px solid var(--colorBlack);
}

.inActiveTab {
    color: var(--colorGray6);
    border-bottom: 1px solid var(--colorGray8);
}

.profile__profileContentContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    width: 100%;
    height: 100%;

    padding: 0;
    margin: 0;
}

.profile__postReplies {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: max-content;

    padding: 0;
    margin: 0;
}

.profile__replyPostContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 90%;
    height: max-content;

    padding: 0;
    margin: 0;
}

.profile__emptyRepostMessageContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.profile__emptyRepostMessage {
    color: var(--colorGray5);

    font-size: 16px;
    font-weight: 500;
    text-align: center;
}