.messageMenu {
    background: var(--colorWhite);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 350px;
    height: 250px;

    border: 1px solid var(--colorGray7);
    border-radius: var(--borderRadius3);
    box-shadow: var(--shadow2);

    position: absolute;
    top: 120px;
    right: 20px;
}

.messageMenu__buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: max-content;
    height: max-content;

    position: absolute;
    bottom: 5px;
    left: 10px;

    z-index: 2;
}