.addReplyMenu {
    background: var(--colorWhite);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
    flex-shrink: 0;

    width: calc(80% - 10px);
    min-height: calc(70px - 10px);
    max-height: calc(140px - 10px);

    padding: 5px;
    margin: 5px 0;

    border-radius: var(--borderRadius4);
    box-shadow: var(--shadow2);

    overflow: hidden;
}

.addReplyMenu__section1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 60px;
    height: 100%;
}

.addReplyMenu__section2 {
    background: var(--colorGray8);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: calc(100% - 60px - 60px);
    min-height: 55px;
    max-height: 130px;

    border-radius: var(--borderRadius4);
    overflow: hidden;
}

.addReplyMenu__section3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 60px;
    height: 100%;

    border-radius: var(--borderRadius4);
}