.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    width: 100%;
    height: 100px;

    position: relative;
}

.navbar__mainNavigation__backgroundContainer {
    background: var(--background1);

    width: 100%;
    height: 4px;

    border-radius: calc(3px / 2);

    position: absolute;
    top: 0;
}

.navbar__mainNavigation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-shrink: 0;

    width: 700px;
    height: 100%;

    overflow: hidden;

    position: relative;
}

.navbar__mainNavigation__backOption {
    display: flex;
    align-items: center;
    justify-content: center;

    width: max-content;
    height: max-content;

    position: absolute;
    left: 0;
}

.navbar__mainNavigation__mainOptions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-shrink: 0;

    width: 100%;
    height: 100%;
}

.navbar__navOptions {
    background: transparent;
    color: var(--colorBlack);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 75px;
    height: 60px;

    border: none;
    outline: none;

    border-radius: var(--borderRadius3);

    cursor: pointer;

    position: relative;
    overflow: hidden;
}

.navbar__navOptions__background {
    background: var(--colorGray7);

    width: 100%;
    height: 100%;

    border-radius: var(--borderRadius3);

    position: absolute;
    z-index: 1;
}

.navbar__optionContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: calc(100% - 700px);
    height: 100%;

    position: relative;
}

.navbar__menuBtn,
.navbar__refreshBtn {
    background: transparent;
    color: var(--colorBlack);

    display: flex;
    align-items: center;
    justify-content: center;

    width: max-content;
    height: max-content;

    border: none;
    outline: none;

    border-radius: var(--borderRadius3);

    cursor: pointer;
}

.navbar__menuOption,
.navbar__themeMenu {
    background: var(--colorWhite);

    display: flex;
    align-items: center;
    flex-direction: column;

    border-radius: var(--borderRadius5);
    box-shadow: var(--shadow1);

    z-index: 5;
    position: absolute;
    top: 100px;
}

.navbar__menuOption {
    justify-content: space-evenly;

    width: 180px;
    height: 280px;

    left: calc(50% - (180px - 20px));
}

.navbar__themeMenu {
    justify-content: space-between;

    width: 320px;
    height: 116px;

    left: calc(50% - (320px - 20px));
}

.navbar__menuOptionBtn {
    background: transparent;
    color: var(--colorBlack);

    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: calc(100% - 20px);
    height: calc((100% / 6) - 10px);

    padding: 0 10px;
    margin: 0;

    border: none;
    outline: none;

    border-radius: var(--borderRadius4);

    font-size: 16px;
    font-weight: 600;

    cursor: pointer;
}

.navbar__menuOptionBtn:hover {
    background: var(--colorGray7);
}

.navbar__themeMenu__heading,
.navbar__themeMenu__themeOptions {
    display: flex;
    align-items: center;
    flex-direction: row;

    position: relative;
}

.navbar__themeMenu__heading {
    justify-content: center;

    width: calc(100% - 20px);
    height: 40%;

    padding: 0 10px;
}

.navbar__themeMenu__themeOptions {
    background: var(--colorGray7);

    justify-content: space-between;

    width: 95%;
    height: 50px;

    margin: 0 0 10px 0;

    border-radius: var(--borderRadius5);

    overflow: hidden;
}

.navbar__themeMenu__closeBtn {
    background: transparent;
    color: var(--colorBlack);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 32px;
    height: 32px;

    border: none;
    outline: none;

    cursor: pointer;

    position: absolute;
    left: 10px;
}

.navbar__themeMenu__heading__title {
    color: var(--colorBlack);

    width: max-content;
    height: max-content;

    font-size: 16px;
    font-weight: 500;
}

.navbar__themeOptionsBtn {
    background: transparent;
    color: var(--colorBlack);

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: calc(100% / 3);
    height: 100%;

    border: none;
    outline: none;

    font-size: 16px;
    font-weight: 600;

    cursor: pointer;
}

.navbar__themeMenu__themeOptionHighlighter {
    width: calc((100% / 3) - 2px);
    height: calc(100% - 2px);

    border: 1px solid var(--colorGray6);

    border-radius: var(--borderRadius5);

    position: absolute;
    left: 0;
}