.feedPost {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;

    width: calc(100% - 10px);
    height: max-content;

    padding: 0 5px;

    position: relative;
    z-index: 2;
}

.feedPost__headingContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    width: calc(100% - 10px);
    height: 65px;

    padding: 0 5px;
}

.feedPost__headingContainer__accountInfo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;

    width: calc(100% / 2);
    height: 100%;
}

.feedPost__accountInfo__profilePicture {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 40px;
    height: 40px;

    border-radius: 50%;

    cursor: pointer;

    position: relative;
}

.feedPost__accountInfo__profilePicture > img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
}

.feedPost__accountInfo__profileFollowBtn {
    background: var(--colorBlack);
    color: var(--colorWhite);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 20px;
    height: 20px;

    border: 2px solid var(--colorWhite);
    border-radius: 50%;

    cursor: pointer;

    overflow: hidden;
    position: absolute;
    bottom: -5px;
    right: -5px;
}

.feedPost__accountInfo__profileInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    width: max-content;
    height: 100%;

    padding: 0 10px;
}

.feedPost__accountInfo__profileInfo > p {
    width: max-content;
    height: max-content;

    padding: 0 5px;
    margin: 0;
}

.feedPost__profileInfo__profileName {
    color: var(--colorBlack);

    font-size: 16px;
    font-weight: 500;

    cursor: pointer;
}

.feedPost__profileInfo__profileName:hover {
    text-decoration: underline;
}

.feedPost__profileInfo__postTime {
    color: var(--colorGray5);

    font-size: 16px;
    font-weight: 500;
}

.feedPost__headingContainer__postMenuBtn {
    background: transparent;
    color: var(--colorBlack);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    border: none;
    outline: none;

    border-radius: 50%;

    cursor: pointer;
}

.feedPost__headingContainer__postMenuBtn:hover {
    background: var(--colorGray7);
}

.feedPost__headingContainer__postMenu {
    background: var(--colorWhite);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;
    gap: 10px;

    width: calc(185px - 20px);
    height: max-content;

    padding: 10px;
    margin: 0;

    border-radius: var(--borderRadius4);
    box-shadow: var(--shadow2);

    position: absolute;

    top: 60px;
    right: 20px;
    z-index: 2;
}

.feedPost__postMenu__option {
    background: transparent;
    color: var(--colorBlack);

    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    height: 35px;

    border: none;
    outline: none;

    border-radius: var(--borderRadius3);

    font-size: 16px;
    font-weight: 600;

    cursor: pointer;
}

.feedPost__postMenu__option:hover {
    background: var(--colorGray7);
}

.feedPost__postActions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-shrink: 0;
    gap: 5px;

    width: 100%;
    height: calc(60px - 20px);

    padding: 10px 0;
    margin: 0;

    position: relative;
}

.feedPost__postActions__btn {
    background: transparent;
    color: var(--colorBlack);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    border: none;
    outline: none;

    border-radius: 50%;

    cursor: pointer;

    overflow: hidden;
}

.feedPost__postActions__btn:hover {
    background: var(--colorGray7);
}

.feedPost__postActionsMenu {
    background: var(--colorWhiteOpacity30);
    backdrop-filter: blur(var(--blurLevel8p));

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;
    gap: 5px;

    width: 170px;
    height: max-content;

    padding: 5px 0;

    border-radius: var(--borderRadius4);
    box-shadow: var(--shadow1);

    z-index: 4;
    position: absolute;
    left: 200px;
}

.feedPost__postActionsBtn {
    background: transparent;
    color: var(--colorBlack);

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: calc(100% - 10px);
    height: calc((100% / 2) - 10px);

    padding: 5px;
    margin: 0;

    border: none;
    outline: none;

    border-radius: var(--borderRadius3);

    font-size: 14px;
    font-weight: 600;

    cursor: pointer;
}

.feedPost__postActionsBtn:hover {
    background: var(--colorGray7);
}

.feedPost__postAnalytics {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-shrink: 0;
    gap: 10px;

    width: 100%;
    height: max-content;

    padding: 5px 0;
}

.feedPost__postAnalytics__profilePreviewContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-shrink: 0;

    width: 50px;
    height: 100%;

    position: relative;

    overflow: hidden;
}

.feedPost__postAnalytics__profilePreview {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 18px;
    height: 18px;

    border-radius: 50%;
    box-shadow: var(--shadow3);

    position: absolute;

    overflow: hidden;
}

.feedPost__postAnalytics__profilePreview > img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
}

.feedPost__postAnalytics__replyCount,
.feedPost__postAnalytics__likeCount {
    color: var(--colorGray5);

    width: max-content;
    height: max-content;

    padding: 0;
    margin: 0;

    font-size: 14px;
    font-weight: 500;
}