.postTypeSelectorBar {
    background: var(--colorWhite);

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    width: calc(100% - 20px);
    height: max-content;

    padding: 10px;

    border-radius: var(--borderRadius3);
    box-shadow: var(--shadow2);
}