.hashtagWordList {
    background: var(--colorWhite);

    display: flex;
    align-items: center;
    flex-direction: column;

    min-width: 100px;
    max-width: 450px;
    min-height: 40px;
    max-height: 180px;

    padding: 0;
    margin: 0;

    border: 1px solid var(--colorGray7);
    border-radius: var(--borderRadius5);
    box-shadow: var(--shadow1);

    z-index: 3;
    position: absolute;
    top: 80%;

    overflow: hidden;
    overflow-y: auto;
}

.hashtagWordList__hashtagContainer {
    background: transparent;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    gap: 10px;

    width: 100%;
    height: 40px;

    padding: 0;
    margin: 0;

    border: none;
    outline: none;

    cursor: pointer;
}

.hashtagWordList__hashtagContainer:hover {
    background: var(--colorGray7);
}

.hashtagWordList__hashtagContainer > p {
    width: calc(50% - 10px);
    height: max-content;

    padding: 0 5px;
    margin: 0;
}

.hashtagWordList__hashtagText {
    color: var(--color1);

    font-size: 16px;
    font-weight: 600;
    text-align: left;
}

.hashtagWordList__hashtagCount {
    color: var(--colorGray3);

    font-size: 14px;
    font-weight: 500;
    text-align: right;
}