.post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    width: 100%;
    height: max-content;
}

.post__profileInfoContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    width: 100%;
    height: 50px;

    position: relative;
}

.post__imageSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 50px;
    height: 100%;

    padding: 10px 0;
}

.post__imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 35px;
    height: 35px;

    border: none;

    cursor: pointer;
    position: relative;
}

.post__imageContainer > img {
    width: 100%;
    height: 100%;

    border-radius: 50%;

    object-fit: cover;
    object-position: center;
}

.post__followProfileBtn {
    background: var(--colorBlack);
    color: var(--colorWhite);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 20px;
    height: 20px;

    border: 2px solid var(--colorWhite);
    border-radius: 50%;

    cursor: pointer;

    overflow: hidden;
    position: absolute;
    bottom: -5px;
    right: -5px;
}

.post__infoWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    width: calc(100% - 50px);
    height: 100%;
}

.post__profileInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    width: max-content;
    height: max-content;
}

.post__profileUsername,
.post__postTime {
    padding: 0 2px;
    margin: 0;

    font-size: 16px;
    font-weight: 600;
}

.post__profileUsername {
    color: var(--colorBlack);

    cursor: pointer;
}

.post__profileUsername:hover {
    text-decoration: underline;
}

.post__postTime {
    color: var(--colorGray5);

    cursor: default;
}

.post__postMenuBtn {
    background: transparent;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 28px;
    height: 28px;

    padding: 0;
    margin: 0 10px 0 0;

    border: none;
    outline: none;
    border-radius: 50%;

    cursor: pointer;

    position: relative;
    overflow: hidden;
}

.post__postMenuBtn__btnBackground {
    background: var(--colorGray8);

    width: 30px;
    height: 30px;

    border-radius: 50%;

    position: absolute;
    z-index: 1;
}

.post__postMenuBtn__postMenu {
    background: var(--colorWhite);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;
    gap: 10px;

    width: calc(185px - 20px);
    height: max-content;

    padding: 10px;
    margin: 0;

    border-radius: var(--borderRadius4);
    box-shadow: var(--shadow2);

    position: absolute;

    top: 40px;
    right: 15px;
}

.post__postMenu__option {
    background: transparent;
    color: var(--colorBlack);

    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    height: 35px;

    border: none;
    outline: none;

    border-radius: var(--borderRadius3);

    font-size: 16px;
    font-weight: 600;

    cursor: pointer;

    z-index: 2;
}

.post__postMenu__option:hover {
    background: var(--colorGray7);
}

.post__ContentSection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    width: calc(100% - 30px);
    height: max-content;

    padding: 10px 10px 10px 20px;
}

.post__postContentContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: max-content;

    padding: 0;
}

.post__postContent {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: max-content;

    padding: 0;
    margin: 0 0 10px 0;

    text-align: left;

    cursor: pointer;
}

.post__postContentRepostContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: max-content;

    padding: 0;

    border: 1px solid var(--colorGray7);
    border-radius: var(--borderRadius3);

    cursor: pointer;
}