.accountSettingSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;
    gap: 10px;

    width: calc(100% - 10px);
    height: max-content;

    padding: 10px 0 0 0;
}

.accountSettingSection__sectionTitle {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    width: calc(100% - 10px);
    min-height: 100px;
    height: max-content;

    padding: 0 10px;
}

.accountSettingSection__separator {
    width: 100%;
    height: auto;

    padding: 2px 0 0 0;

    border-bottom: 2px solid var(--colorGray6);
}

.accountSettingSection__subSectionContainer {

}

.accountSettingSection__subSectionListContainer {

}

.accountSettingSection__subSectionListItem {

}