.addPostMenu {
    background: var(--colorWhite);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 700px;
    height: 200px;

    border: 1px solid var(--colorGray7);
    border-radius: var(--borderRadius4);
    box-shadow: var(--shadow2);

    overflow: hidden;
}

.addPostMenu__upperSection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

    width: 100%;
    height: 70%;
}

.addPostMenu__lowerSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    width: 100%;
    height: 30%;
}